# EditorConfig helps maintain consistent identations, end-of-line and other text file style rules
# for multiple developers working on the same project across various editors and IDEs.
# See https://editorconfig.org/ for more information.
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.go]
indent_style = tab

[Makefile]
indent_style = tab

[*.md]
indent_size = 4
trim_trailing_whitespace = false
